.final-footer {
  padding: 6rem;
  .image-container {
    width: 15rem;
    padding-right: 4rem;
    border-right: 4px solid #b2b2b2;
    margin-right: 4rem;
    img {
      width: 100%;
    }
  }
  h2 {
    padding-right: 4rem;
    border-right: 4px solid #b2b2b2;
    margin-right: 4rem;
  }
}
