.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-btn {
  text-decoration: none;
  padding: 1rem 5rem;
  border-radius: 5rem;
  color: white;
  background-color: #590dff;
  font-size: 2rem;
  cursor: pointer;
}
.black-bg {
  background-color: black;
  height: 15rem;
}
